.member {
    width: 18%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
    border-radius: 10px;
    font-size: 1rem;
}


